* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: "Playfair Display", serif;
  color: #000000;
}


button {
  font-family: inherit;
}

h1, h2, h3 {
  letter-spacing: 1px;
}
