* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5E6C8;
  font-family: "Playfair Display", serif;
  color: #722F37;
}

button {
  font-family: inherit;
}

h1, h2, h3 {
  letter-spacing: 1px;
}
