* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;   /* 🔥 fixes right white space */
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background: #EFDFBB;
  color: #722F37;
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
}

/* Responsive Navbar */

@media (max-width: 768px) {
  .desktop-menu {
    display: none !important;
  }

  .mobile-menu {
    display: block !important;
  }
}
/* Mobile Navbar Fix */

.desktop-menu {
  display: flex;
}

.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none !important;
  }

  .mobile-menu {
    display: block !important;
  }
}
